<%include partials/header.ejs%>
<div class='blog-container'>
    <%blogs.forEach(function(blog){%>
    <div >

        <div>
            <h2>
                <%= blog.title %>
            </h2>
        </div>
    <div><img src=<%=blog.image %> alt="Image for the blog" style="width:300px"></div>
        <div>
            <%= blog.body %>
        </div>
        <div>
            <%= blog.created %>
        </div>

    </div>
    <% }); %>
</div>
<% include partials/footer.ejs %>